*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
:root{
    font-size: 62.5% ; /* 10px */
}
body{
    background-color:#e5e5e5;
}
body::before{
    content:'';
    width: 100%;
    height: 36.8rem;
    background: #121214;
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
}
.page{
    max-width: 73.6rem;
    margin: auto;
}
header{
    width: 31.9rem;
    margin-top: 7.4rem;
}
header h1{
    margin-bottom: 2.4rem;
    font-family: 'Archivo', sans-serif;
    font-weight: bold;
    font-size: 3.6rem;
    line-height: 4.2rem;
    color: #fff;
}
header p{
    font-size: 1.6rem;
    line-height: 2.6rem;
    color: #42D3FF;
}
form{
    padding: 6.4rem 6.4rem 0;
    margin-top: 3.8rem;
    display: flex;
    flex-direction: column;
    min-height: 300px;
    background: #FAFAFC;
    border-radius: 0.8rem 0.8rem 0px 0px;
    gap: 4.8rem;
    padding-bottom: 6.4rem;
}
fieldset{
    border: none;
}
.fieldset-wrapper{
    display: flex;
    flex-direction: column;
    gap: 2.4rem;
}
fieldset legend{
    font-family: 'Archivo';
    font-weight: 600;
    font-size: 2.4rem;
    line-height: 3.4rem;
    color: #32264D;

    border-bottom: 1px solid #E6E6F0;
    width: 100%;
    padding-bottom: 1.6rem;
}
.input-wrapper{
    display: flex;
    flex-direction: column;
}
.input-wrapper label, 
.checkbox-wrapper label{
    font-size: 1.4rem;
    line-height: 2.4rem;
    color: #4E4958;
    margin-bottom: 0.8rem;
}
.checkbox-wrapper label{
    margin-bottom: 0;
    display: flex;
    align-items: center;
    gap: 1.6rem;
}
.input-wrapper label span{
    font-size: 1.2rem;
    line-height: 2.0rem;
    color: #C1BCCC;
    margin-left: 1.2rem;
}
.input-wrapper label span:hover, 
.input-wrapper textarea:hover,
.input-wrapper input:hover{
    color: #5f5a69;
}
.input-wrapper input,
.input-wrapper textarea,
.input-wrapper select{
    background: #FAFAFC;
    border: 1px solid #E6E6F0;
    border-radius: 0.8rem;
    box-sizing: border-box;
    padding-left: 2.4rem;

    height: 5.6rem;

    font-size: 1.6rem;
    line-height: 2.6rem;
    color: #C1BCCC;
}
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
}
.input-wrapper textarea{
    height:16.8rem;
}
.input-wrapper select{
    appearance: none;

    background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='iso-8859-1'%3F%3E%3C!-- Generator: Adobe Illustrator 19.1.0, SVG Export Plug-In . SVG Version: 6.00 Build 0) --%3E%3Csvg version='1.1' id='Capa_1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' viewBox='0 0 284.821 284.821' style='enable-background:new 0 0 284.821 284.821;' xml:space='preserve'%3E%3Cg%3E%3Cg%3E%3Cpath d='M142.403,228.084c-7.725,0-14.987-3.014-20.45-8.471L8.455,106.102c-11.273-11.273-11.273-29.621,0-40.894 c5.463-5.463,12.725-8.471,20.457-8.471s14.994,3.008,20.45,8.471l93.041,93.054l93.048-93.054 c5.463-5.463,12.719-8.471,20.45-8.471s14.987,3.008,20.45,8.471c5.469,5.463,8.471,12.725,8.471,20.45s-3.008,14.987-8.471,20.45 L162.859,219.594C157.39,225.076,150.121,228.084,142.403,228.084z M28.911,69.591c-4.293,0-8.329,1.671-11.369,4.704 c-6.266,6.266-6.266,16.459,0,22.719L131.04,210.519c6.016,6.016,16.433,6.093,22.52,0.186L267.25,97.015 c3.04-3.04,4.704-7.07,4.704-11.363s-1.671-8.323-4.704-11.363c-6.073-6.067-16.646-6.067-22.719,0L142.403,176.437L40.274,74.296 C37.234,71.262,33.204,69.591,28.911,69.591z'/%3E%3C/g%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3C/svg%3E");
    background-size: 1.5rem;
    background-repeat: no-repeat;
    background-position: right 2.4rem top 50%;
}
.col-3{
    display: flex;
    gap: 2.0rem;
}
.col-3 > div:nth-child(1){
    width: 100%;
}
.checkbox-wrapper{
    position: relative;
}
.checkbox-wrapper input{
    position: absolute;
    height: 2.4rem;
    width: 2.4rem;
    border: 1px solid #e6e6f0;
    border-radius: 8px;
    opacity: 0;

}
.checkbox-wrapper label::before{
    height: 2.4rem;
    width: 2.4rem;
    border: 1px solid #e6e6f0;
    border-radius: 8px;
    content: '';
    display: block;
}
.checkbox-wrapper input:checked + label::before {

    background-image: url("data:image/svg+xml,%3Csvg version='1.1' id='Layer_1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' viewBox='0 0 512 512' style='enable-background:new 0 0 512 512;' xml:space='preserve'%3E%3Cpolygon style='fill:%23446080;' points='47.222,263.447 0,310.669 149.961,460.631 172.222,413.408 149.961,366.186 '/%3E%3Cpolygon style='fill:%23324860;' points='464.778,51.369 149.961,366.186 149.961,460.631 512,98.592 '/%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3C/svg%3E");
}
.checkbox-wrapper input:focus + label::before {
    outline: 2px solid black;
}
footer{
    background: #f0f0f4;
    height: 13.6rem;
    display: flex;
    flex-direction: column;
    padding: 4rem 6.4rem;
    margin-bottom: 10rem;
    border-top: 1px solid #D6D6D6;
    border-radius: 0 0 8px 8px;
}
footer .button{
    height: 5.6rem;
    background: #04D361;
    font-family: 'Archivo';
    font-size: 1.6rem;
    line-height: 2.6rem;
    font-weight: 600;
    color: #fff;
    border: none;
    border-radius: 8px;
}
footer .button:hover{
    background: #03a04a;
}
input:invalid{
    border: 1px solid red;
}
@media (max-width: 413px){

    .page{
        width: 100%vw;
    }
    form{
        padding: 0 1rem;
    }
    .col-3{
        flex-direction: column;
    }
    .col-3 .input-wrapper input{
        width: 100%;
    }
    .senha label span{
        display: block;
        margin-left: 0rem;
    }
}